baseURL = "https://blog.eriteach.com/"
languageCode = "en-us"
title = "Eriteach | Microsoft Cloud Tech"
theme = "papermod"

[pagination]
pagerSize = 5

[params]
author = "Robel M."
description = "Practical solutions for Intune, Autopilot, Entra ID, Defender, and Purview"
ShowReadingTime = true
ShowShareButtons = false
ShowPostNavLinks = true
ShowBreadCrumbs = true
ShowCodeCopyButtons = true
defaultTheme = "auto"
disableThemeToggle = false
ShowAllPagesInArchive = true
ShowFullTextinRSS = true

[params.fuseOpts]
isCaseSensitive = false
shouldSort = true
location = 0
distance = 1000
threshold = 0.4
minMatchCharLength = 0
keys = ["title", "permalink", "summary", "content", "tags"]

[[menu.main]]
name = "Home"
url = "/"
weight = 1

[[menu.main]]
name = "Categories"
url = "/categories/"
weight = 2

[[menu.main]]
name = "Tags"
url = "/tags/"
weight = 3

[[menu.main]]
name = "Archive"
url = "/archives/"
weight = 4

[[menu.main]]
name = "Search"
url = "/search/"
weight = 5

[[menu.main]]
name = "About"
url = "/about/"
weight = 6

[outputs]
home = ["HTML", "RSS", "JSON"]

[markup.highlight]
codeFences = true
lineNos = false
style = "monokai"
guessSyntax = true
noClasses = false

[markup.goldmark.renderer]
unsafe = true